<h1>Edit <%= @article.title %></h1>

<%= form_with model: @article do |t| %>
<%= t.label :title %>
<%= t.text_field :title %>
<%= t.label :content %>
<%= t.text_field :content %>
<%= t.submit "Edit task" %>
<% end %>

<%= link_to "Back to all artcles", articles_path %>
